.entry-header {
  margin-left: -1rem;
  margin-right: -1rem;
  height: 336px;
  overflow: hidden;
	position: relative;
}
.entry-header img {
  width: 100%;
}

.entry-header h1 {
	position: absolute;
	left: 0;
	top: 45%;
	z-index: 1;
	color: #fff;
	width: 600px;
	padding-left: 45px;
	font-size: 2.5rem;
	line-height: 90px;
	margin: 0;
}

.entry-header:before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	top: 45%;
	left: -10%;
	width: 680px;
	height: 90px;
	-ms-transform: skew(-20deg, 0deg); /* IE 9 */
	-webkit-transform: skew(-20deg, 0deg); /* Safari */
	transform: skew(-20deg, 0deg);
	background: rgba(94, 86, 78, .9);
	box-shadow: 5px 0 rgba(80, 0, 0, .7);
}

.entry-content h2 {
	color: #500000;
}

.entry-content > div {
	margin: 45px;
}

.entry-content a.button,
.entry-content a.button:hover {
	border: 1px solid #5f564f;
	border-radius: 0;
	text-align: center;
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-transform: uppercase;
	background-color: transparent;
	background-image: none;
	color: #000;
	padding: 0;
	margin: 0;
	border-width: 1px 1px 1px 1px;
	box-shadow: none;
}

.entry-content a.button:hover {
	background-color: #5f564f;
	color: #fff;
}

.entry-content .student-status {
	white-space: nowrap;
}

.entry-content .student-status div {
	display: inline-block;
	width: 25%;
	padding-left: 8px;
	box-sizing: border-box;
}

.entry-content .student-status div:first-child {
	padding-left: 0;
}

.entry-content .student-status a.button {}

.entry-content .summaries .one-of-two {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	padding-left: 24px;
}

.entry-content .summaries .one-of-two p {
	margin-bottom: 0;
}

.entry-content .summaries .one-of-two:first-child {
	padding-left: 0;
	padding-right: 24px;
}

.entry-content .course-buttons a.button {
  display: block;
	margin: 16px auto 0;
	width: 400px;
}

.entry-content .course-buttons a.button:first-child {
	margin-top: 0;
}

.entry-content .campus-info {
  margin-left: -1rem;
  margin-right: -1rem;
	height: 442px;
	overflow: hidden;
	position: relative;
	padding-top: 91px;
	padding-right: 43px;
	box-sizing: border-box;
	white-space: nowrap;
	text-align: right;
  background-position: center center;
}

.entry-content .campus-info .actions,
.entry-content .campus-info > a.button {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.entry-content .campus-info .actions {
	width: 276px;
	white-space: normal;
}

.entry-content .campus-info .actions a {
	margin-top: 8px;
}

.entry-content .campus-info .actions a:first-child {
	margin-top: 0;
}

.entry-content .campus-info > a.button {
	width: auto;
	margin-left: 16px;
	max-width: 338px;
	border: 0 none;
}

.entry-content .national-recognition {
	white-space: nowrap;
}

.entry-content .national-recognition .item-row {
	display: table-row;
}

.entry-content .national-recognition .tagline {
	font-weight: bold;
}

.entry-content .national-recognition .citation {
	font-weight: normal;
	display: block;
	font-style: italic;
}

.entry-content .national-recognition .left-side,
.entry-content .national-recognition .right-side {
	display: table-cell;
	vertical-align: top;
}

.entry-content .national-recognition .left-side {
	position: relative;
}

.entry-content .national-recognition .left-side img {
	max-width: 332px;
}

.entry-content .national-recognition .left-side .tagline {
	position: absolute;
	top: 100px;
	height: 90px;
	left: 0;
	width: 100%;
	display: block;
	padding: 10px 16px;
	box-sizing: border-box;
}

.entry-content .national-recognition .right-side {
	padding-left: 16px;
	width: 686px;
	box-sizing: border-box;
	white-space: normal;
}

.entry-content .national-recognition .right-side .item-cell {
	display: table-cell;
	vertical-align: top;
	padding-top: 16px;
}

.entry-content .national-recognition .right-side .item-row:first-child .item-cell {
	padding-top: 0;
}

.entry-content .national-recognition .right-side .item-cell:after {
	content: "";
	display: block;
	clear: both;
}

.entry-content .national-recognition .right-side img {
	max-width: 275px;
	margin-right: 25px;
	float: left;
}
