/*
Large break point: 1140px;
Medium break point: 45.063em;
*/

$small: 400px;
$medium: 45.063em;
$medium_large: 900px;
$large: 1140px;

.entry-header {
  margin-left: -1rem;
  margin-right: -1rem;
  height: 336px;
  overflow: hidden;
	position: relative;
  background-position: center center;
  background-size: cover;

  &:before {
		display: none;
	}

	img {
	  width: 100%;
	}

	h1 {
		position: absolute;
		left: 0;
		top: 45%;
		z-index: 1;
		color: #fff;
		padding: 16px 32px;
		font-size: 2.5rem;
		margin: 0;
		width: 100%;
		line-height: 1.2;
		text-align: center;
		background: rgba(94, 86, 78, .9);
	}
}

.entry-content {

	h2 {
		color: #500000;
	}

	& > div {
		margin-top: 45px;
		margin-bottom: 45px;

		&.summaries.row {
			max-width: 66rem;
		}
	}

	a.button,
	a.button.active,
	a.button:hover {
		border: 1px solid rgba(255, 255, 255, 0.75);
		border-radius: 0;
		text-align: center;
		width: 100%;
		line-height: 48px;
		text-transform: uppercase;
		background-color: transparent;
		background-image: none;
		color: #FFF;
		padding: 0;
		margin: 0;
		border-width: 1px 1px 1px 1px;
		box-shadow: none;
		cursor: pointer;
	}

	a.button.active,
	a.button:hover {
		background-color: #FFF;
		color: #000;
		border-color: #FFF;
	}

	.student-status {
		margin-left: -4px;
		margin-right: -4px;

		div {
			display: inline-block;
			width: 50%;
			padding-bottom: 8px;
			padding-left: 4px;
			padding-right: 4px;
			box-sizing: border-box;

			& + div + div {
				padding-bottom: 0;
			}
		}
	}

	.summaries {
		.one-of-two {
			display: inline-block;
			width: 50%;
			box-sizing: border-box;
			padding-left: 24px;

			&:first-child {
				padding-left: 0;
				padding-right: 24px;
			}
		}

		&.row .columns {
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.course-buttons {
		margin-bottom: 0;

		a.button {
		  display: block;
			margin: 8px auto 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.campus-info {
	  margin-top: 0;
		padding: 8px 0 15px;
		overflow: hidden;
		position: relative;
		box-sizing: border-box;
		white-space: nowrap;
		text-align: right;
	  background-position: center center;
	  background-size: cover;

		.actions,
		.second-button {
			vertical-align: top;
			text-align: center;
			display: block;
			width: 100%;
			max-width: 100%;
			margin: 0 0 8px;
		}

		.actions {
			white-space: normal;

			a {
				margin-top: 8px;
			}
		}

		.second-button {
			text-align: center;
			margin-bottom: 0;

			a.button {
				width: auto;
				border: 0 none;
			}
		}
	}

	.national-recognition {
		background: #500000;
		color: #fff;
		margin-left: -1rem;
		margin-right: -1rem;
		padding: 10px;

		h2 {
			display: none;
		}

		.left-side,
		.right-side {
			.item-cell:first-child {
				text-align: center;

				& > img {
					display: none;
				}
			}
		}
	}
}

@media all and (min-width: #{$small}){

	.entry-content {
		.summaries {
			p {
				margin-bottom: 0;
			}

			.summary {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				box-sizing: border-box;
				padding: 0 12px 0 0;

				& + .summary {
					padding: 0 0 0 13px;
				}
			}
		}

		.course-buttons {
			a,
			a.active,
			a:hover {
				width: 100%;
				max-width: 500px;
			}
		}

		.campus-info {
			padding: 32px;
			margin: 45px -1rem 0 -1rem;

			.second-button,
			.actions {
				width: 314px;
				margin-left: auto;
				margin-right: auto;
			}

			.actions {
				margin-top: 12px;

				a:first-child {
					margin-top: 0;
				}
			}
		}

		.national-recognition {
			background: transparent;
			color: #5E564E;
			margin-left: 0;
			margin-right: 0;

			h2 {
				display: block;
			}

	  	.item-row {
	  		display: table-row;

	  		.item-cell {
			    position: relative;
					display: table-cell;
					vertical-align: middle;

					& + .item-cell {
						padding-left: 25px;
					}
				}
			}

			.left-side,
			.right-side {
				text-align: left;
				width: 100%;
				padding-left: 0;
				clear: both;

				.item-cell:first-child {
					width: 100%;
					display: inline-block;

					& > img {
						display: block;
						width: 100%;
					}

					& + .item-cell {
						width: 61%;
					}
				}

				.ranking {
					text-align: center;
			    position: absolute;
					padding: 10px;
			    bottom: 0;
			    left: 0;

			    img {
			    	margin: 0;
			    	position: absolute;
				    left: 50%;
				    top: 50%;
				    transform: translate(-50%, -50%);
				  }
				}

				.tagline {
					font-weight: bold;

					&:after {
						content: "";
						display: block;
						clear: both;
					}
				}

				.citation {
					font-weight: normal;
					display: block;
					font-style: italic;
				}
			}

			.left-side .ranking {
				width: 100%;
	    	background: rgba(30, 0, 0, 0.9);

	    	img {
		    	width: 75%;
		    	position: static;
		    	transform: none;
	    	}
			}

			.right-side {
				.item-cell {
					border-top: 25px solid transparent;
				}

				.ranking {
					width: 45%;
					height: 100%;
					background: rgba(0, 0, 0, 0.75);

					img {
			    	width: 80%;
					}
				}
			}
		}
	}

}

@media all and (min-width: #{$medium_large}){

	.entry-header:before {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		top: 45%;
		left: -10%;
		width: 680px;
		height: 90px;
		-ms-transform: skew(-20deg, 0deg); /* IE 9 */
		-webkit-transform: skew(-20deg, 0deg); /* Safari */
		transform: skew(-20deg, 0deg);
		background: rgba(94, 86, 78, .9);
		box-shadow: 5px 0 rgba(80, 0, 0, .7);
	}

	.entry-header h1 {
		width: 600px;
		line-height: 90px;
		padding: 0 0 0 45px;
		text-align: left;
		background: transparent;
	}

	.entry-content {

		& > div.summaries.row .columns {
			margin-top: 0;
		}

		.student-status div {
			width: 25%;
			padding-bottom: 0;
		}

	  .course-buttons {
	    margin-bottom: 45px;

		  a.button {
		    width: 400px;

			  & + a.button {
			    margin-top: 16px;
			  }
			}
	  }

		.campus-info {
	    height: 442px;
	    padding: 91px 43px 15px 15px;
	    text-align: right;

	    &:after {
	    	content: "";
	    	display: block;
	    	clear: both;
	    }

	    .actions {
	    	display: inline-block;
				width: 276px;
				margin: 0;
	    }

	    .second-button {
	    	float: right;
				margin-left: 16px;
				width: auto;

				img {
					height: 224px;
				}
			}
		}

  	.national-recognition {
			white-space: nowrap;
  		text-align: left;

			.left-side,
			.right-side {
				display: table-cell;
				vertical-align: top;
				width: auto;

				&,
				.item-row .item-cell {
					text-align: left;
				}

	  		.ranking {
	  			text-align: center;
	  		}
			}

  		.left-side {
  			$tagline-height: 90px;

				.item-row .item-cell {
					overflow: visible;
					height: auto;
					display: block;
					padding-right: 0;

	    		&:first-child {
	    			width: auto;

	    			> img {
		    			width: 100%;
					    max-width: 332px;
					    margin-top: 0;
					    margin-right: 0;
					    float: none;
					  }
					}

					&:first-child + .item-cell {
						padding-left: 0;
						width: 100%;
					}
				}

			  .ranking {
			    bottom: 0;
			    width: 100%;

			  	img {
			  		height: 100%;
				    max-width: 220px;
				    max-height: 85px;
				    position: static;
				    transform: none;
				  }
				}

			  .tagline {
			    height: $tagline-height;
			    width: 100%;
			    display: block;
			    padding: 10px 16px;
			    box-sizing: border-box;
			    color: #FFF;
			    background: #500000;
			  }
			}

		  .right-side {
				padding-left: 16px;
				box-sizing: border-box;
				white-space: normal;

		  	.item-row .item-cell {
					border-top: 0 none;

					&:first-child {
						width: 40%;

						&, & + .item-cell {
							width: auto;
						}

						& > img {
							width: auto;
							max-width: 275px;
							margin-top: 0;
							margin-right: 0;
							float: none;
						}
					}

					&:after {
						content: "";
						display: block;
						clear: both;
					}

				  .ranking {
				    position: absolute;
				    left: 0;
				    width: 47%;
				    height: 100%;
				    padding: 10px;
				    line-height: 175px;
				    vertical-align: middle;
				    background: rgba(0, 0, 0, 0.75);

				    img {
				    	width: 100%;
				    	position: static;
				    	transform: none;
				    }
				  }
				}

				.item-row + .item-row .item-cell {
					border-top: 16px solid rgba(0, 0, 0, 0);
				}
			}
		}
	}
}
